---
import { getCollection, getEntry } from "astro:content";

interface TagObject {
    id: string,
    collection: string,
    data: {
        name: string,
        slug: string,
    }
}

let tags: TagObject[] = [];
let post;
let posts = await getCollection('blog')

if (posts) {
    post = posts[0].data;

    await Promise.all(post.tags.map(async (tag:any) => {
        let tagData = await getEntry('tags', tag)
        tags.push(tagData)
    }))
}

---
<section>
    <h1 class="text-4xl font-extrabold my-5 text-slate-600 xr:text-3xl flex items-center dark:text-zinc-300">Última publicación
        <svg class="icon icon-tabler icon-tabler-feather inline-block ml-2" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 20l10 -10m0 -5v5h5m-9 -1v5h5m-9 -1v5h5m-5 -5l4 -4l4 -4"></path>
            <path d="M19 10c.638 -.636 1 -1.515 1 -2.486a3.515 3.515 0 0 0 -3.517 -3.514c-.97 0 -1.847 .367 -2.483 1m-3 13l4 -4l4 -4"></path>
         </svg>
    </h1>
    <article class="flex gap-x-14 mt-16 items-center lg:flex-wrap">
        <a href={"/blog/" + post.slug} class="w-1/2 lg:w-full"><img src={post.image} alt="Imagen de portada del artículo" class="h-96 bsm:h-48 rounded-lg object-cover object-center lg:w-full hover:object-center transition-all lg:h-80 lg:mx-auto"></a>
        <div class="lg:mt-5 lg:text-center w-1/2 lg:w-full">
        
            <ul class="flex space-x-2 lg:justify-center">
                {
                    tags.map((tag:TagObject) => {
                        return <li><a href={"/categoria/" + tag.data.slug} title={tag.data.name} class="text-xs rounded-xl px-3 py-1 bg-zinc-100 text-zinc-600 font-medium dark:bg-zinc-800 dark:text-zinc-200"><strong>#</strong>{tag.data.name}</a></li>
                    })
                }
            </ul>
            <h2 class="text-4xl font-extrabold leading-[3rem] text-slate-700 mt-7 mb-5 blg:font-bold bsm:text-3xl xr:text-2xl dark:text-zinc-300"><a href={`/blog/${post.slug}/`} title={post.title} class="hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-blue-400 hover:to-blue-600 hover:transition-colors">{post.title}</a></h2>
            <p class="text-zinc-600 line-clamp-3 mb-7 dark:text-zinc-500">{post.summary}</p>
            <a href={"/blog/" + post.slug} title="Leer más" class="rounded-xl font-medium lg:m-auto text-white w-48 block text-center py-2 bg-gradient-to-r from-blue-400 via-blue-500 to-cyan-600">Leer más</a>
        </div>
    </article>
</section>