---
import { urlAPI, urlAPIHome } from "../static/ts/vars";
const request = await fetch(urlAPI + "/latest_post/");
const post = await request.json();
---
<section>
    <h1 class="text-5xl font-bold my-5 text-slate-600 bsm:text-4xl xr:text-3xl">Última publicación</h1>
    <article class="flex gap-x-12 mt-16 items-center lg:flex-wrap">
        <img src={urlAPIHome + post.image} alt="Imagen de portada del artículo" class="w-1/2 rounded-lg lg:w-[80%] lg:min-w-[80%] lg:mx-auto">
        <div class="lg:mt-5">
            <ul class="flex space-x-4">
                {
                    post.categories.map((category:any) => {
                        return <li><a href={"/categoria/" + category.slug} title={category.name} class="text-xs rounded-xl px-3 py-1 bg-zinc-100 text-zinc-600 font-semibold"><strong>#</strong>{category.name.toLowerCase()}</a></li>
                    })
                }
            </ul>
            <h2 class="text-4xl font-bold text-slate-700 mt-8 mb-5 bsm:text-3xl xr:text-2xl"><a href="#" title={post.title} class="hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-blue-400 hover:to-blue-600 hover:transition-colors">{post.title}</a></h2>
            <p class="text-zinc-600 line-clamp-4 mb-5">{post.summary}</p>
            <a href="/" class="rounded-xl font-medium text-white w-40 block text-center py-2 bg-gradient-to-r from-blue-400 via-blue-500 to-cyan-600">Leer más</a>
        </div>
    </article>
</section>